.vertical-center {
  min-height: 100%; /* for browsers that DON'T support vh unit */
  min-height: 100vh;

  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 5%;
}

#messageLog {
  /*margin: 20%;*/
  white-space: pre-wrap; // to preserve spaces and newlines
}

#log-LUI, #log-user, #log-LUI-suggestion {
  padding: 5px;
  font-weight: bold;

  border-radius: 10px;
}

#log-LUI {
  text-align: left;
  margin-right: 25%;
  color: blue;
  border: solid lightblue;
  background: lightblue;
}

#log-LUI-suggestion {
  text-align: left;
  margin-right: 25%;
  color: blue;
}

#log-user {
  text-align: right;
  margin-left: 25%;
  color: orange;
  border: solid lightyellow;
  background: lightyellow;
}

#log-time-stamp {
  font-size: 30%;
}

#programming-area {
  padding: 5px;
  width: 50%;
  background: black;
  color: lime;
  visibility: collapse;
}

body {
  background: lightblue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right top, lightblue, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom left, lightblue, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom left, lightblue, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom left, lightblue, white); /* Standard syntax */
}

input {
  text-align: center;
}
